# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\python progrming\data structure and algorithme\New-GetFreeCourses.Co-Udemy-The Complete Data Structures and Algorithms Course in Python\10_linked_list\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
